@font-face {
	font-family: 'lacuna';
	src: url('./fonts/lacuna-webfont.eot');
	src: url('./fonts/lacuna-webfont.eot?iefix') format('eot'),
	     url('./fonts/lacuna-webfont.woff') format('woff'),
	     url('./fonts/lacuna-webfont.ttf') format('truetype'),
	     url('./fonts/lacuna-webfont.svg#webfont') format('svg');
}

body{
	position: fixed;
	height: 100%;
	width: 100%;
	background-image: url("./img/nick.jpg");
	
	background-size: 100%;
}

section, nav, header, footer {
	width: 100%;
}

p {
	padding-bottom: 1em;
}

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	font-weight: normal;
	padding-top: .5em;
	padding-bottom: .5em;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: .5em;
}

.section {
	position: relative;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-content: center;
}

@keyframes spin {
	from{
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}

.circle, .square, .triangle {
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	margin:auto;
	transition: .5s ease;
}

.circle:hover, .square:hover, .triangle:hover{
	transition: .5s ease;
}

.circle:active, .square:active, .triangle:active{
	animation-name: spin;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.circle {
	width: 60%;
	content:url("./img/circle.png");
	z-index: 1;
	max-height: 90%;
}

.square {
	width: 32%;
	content:url("./img/square.png");
	z-index: 2;
	max-height: 62%
}

.triangle {
	width: 22%;
	content:url("./img/triangle.png");
	z-index: 3;
	max-height: 52%;
}

.circle:hover{
	width:70%;
	max-height: 100%
} 
.square:hover {
	width:42%;
	max-height: 72%
} 
.triangle:hover {
	width: 32%;
	max-height: 62%
}
