@font-face {
  font-family: 'ralewayregular';
  src: url('fonts/raleway-regular-webfont.eot');
  src: url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/raleway-regular-webfont.woff2') format('woff2'),
       url('fonts/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h1,h2,h3,h4,h5,h6{
	padding: .2em;
}

h1{
	font-size: 4em;
}
h2{
	font-size: 3em;
}
h3{
	font-size: 2em;
}
h4{
	font-size: 1em;
}
h5{
	font-size: .75em;
}
h6{
	font-size: .5em;
}

html {
  font-family: 'ralewayregular', Verdana, sans-serif;
  box-sizing: border-box;
}

section {
  position: relative;
  padding: 50px 0;
}

.inner-content {
  position: relative;
}

.dark-bg {
  background-color: lightgray;
}

p {
  padding-bottom: .8em;
}

button {
  padding: 5px 20px;
  margin: 0 10px;
}

li {
  padding: 3px 0;
}


.center-text {
	text-align: center;
}

/*
Addition for assignment
*/
.highlight {
  background-color: lightblue;
}

.click-button {
	background-color: gray;
}

.red{
	color: red;
}
.green{
	color: green;
}

.pad-1{
	padding-left: 1em;
}

.flex {
	display: inline-flex;
}
