@font-face {
  font-family: 'ralewayregular';
  src: url('fonts/raleway-regular-webfont.eot');
  src: url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/raleway-regular-webfont.woff2') format('woff2'),
       url('fonts/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
p{
  line-height: 1.2em;
}
h1,h2,h3,h4,h5,h6{
	padding: 0;
}

h1{
	font-size: 4em;
}
h2{
	font-size: 3em;
}
h3{
	font-size: 2em;
}
h4{
	font-size: 1.5em;
}
h5{
	font-size: .1em;
}
h6{
	font-size: .75em;
}

html {
  font-family: 'ralewayregular', Verdana, sans-serif;
  box-sizing: border-box;
}

section {
  position: relative;
  padding: 2em 0;
}

#head-of-page {
  width: 100%;

  top:0;
  background: white;
  border-width: 0 0 1px 0;
  border-bottom-color: grey;
  display: inline-flex;
  justify-content: center;
  border-bottom-style: solid;
  position: fixed;
  z-index: 50;
}

.nav{
  margin: 0 5%;
  padding: 0 1%;
}
.nav *{
  padding: .5em;
  cursor: pointer;
}
.nav *:hover{
  cursor: pointer;
  
}

.nav-selected{
  color: lightblue;
  border-color: blue;
  border-width: 0 0 0 8px;
  border-style: none solid;
}

.placeholder{
  width: 100%;
  padding:20em 0;
}

/*header is 5em tall*/
#description {
  padding-top: 8em;
  margin: 0 8em;
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-bottom-width: 1px;
}

#search{
  display: inline-flex;
  width: 20em;
  align-items: center;
}
#search *{
  margin: 0 1em;
}

button {
  border-style: solid;
  background-color: white;
  border-color: #3d63a0;
  color: #3d63a0;
  padding: .5em 1em;
  border-radius: .5em;
  opacity: 1;
  transition: .2s ease;
}
footer{
  width: 100%;
  position:fixed;
  bottom: 0;
  height: 5em;
  z-index: 2;
  background-color: white;
  -webkit-mask-image: -webkit-gradient(linear, left 60%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

button:hover{
  opacity: .2;
}

button:focus{
  outline: none;
}

button:active{
  background-color: lightgrey;
}
header{
  padding-top: 7em;
  justify-content: center;
  text-align: center;
  padding-bottom: 2em
}
input{

}
.padding-bot-6{
  padding-bottom: 6em;
}
.search-beer::placeholder{
  color: lightgrey;
}
.inline-flex{
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.bad-input{
  border-color: red;
  background: #fff4f4;
  border-width: 1px;
}

.result-content{
  background: radial-gradient(#33bbff 1%, white 60%);
  width: calc(100%-40px);
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.result-content *{
  padding: 2em 3em;
}
.all-info {
  max-width: 30em;
}
.all-info *{
  padding:.5em 0;
  margin: 0;
}
.children-padding-small * {
  padding: 0 0 0 0;
  margin: 0 1.5em;
}
.children-padding-small *::placeholder{

}
.constrain{
  max-width: 40%;
  max-height: 30em;
}

#map{
  margin-top: 8%;
  height: 35em;
  left:8%;
  width: 84%;
}

.side-left-bar{
  border-left: solid grey 1px;
}

.side-bottom-bar{
  border-bottom: solid grey 1px;
}

.error{
  margin-left: 2em;
  padding-left: 1em;
}

.form-output{
  margin-left: 2em;
  padding-left: 2em;
}

.flex{
  width:100%%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.add-3-margin{
  margin: 0 3.5em;
}

.pad-content-bottom *{
  margin-bottom: 2em;
}
.add-8-margin{
  margin: 0 8em;
}
.flex-inner{
  margin: 1em 35%;
}
.align-left{
  margin-left: 0;
  margin-right: auto;
}

.map-content{
  margin: 0 6em;
  border-width: 1px 0 0 0;
  border-color: grey;
  border-style: solid none none none;
}

.special-header{
  padding-left: 1em;
  border-left-style: solid;
  border-left-width: 5px;
  margin-bottom: .7em;
}
.color1-bg{
  border-color: #386bbc;
}
.color2-bg{
  border-color: #1d488c;
}
.color3-bg{
  border-color: #092859;
}
.grey-bg{
  background-color: #dddddd;
}
.pun-container{

  background-color: #f4f4f4;
  padding: 1em;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: .2em;
  box-shadow: -2px 4px 8px #888888;
  transition: .35s ease-in-out;
  width: 16em;
}
.pun-container:hover{
  transform: scale(1.05);
}
.pun-title{
  margin-bottom: .6em;
}
.question{
  color: #7a0c0c;
  padding-bottom: 2em;
}
.answer{
  color: #0a6d30;
  padding-bottom: 2em;
  display: none;
}