@font-face {
	font-family: 'lacuna';
	src: url('./fonts/lacuna-webfont.eot');
	src: url('./fonts/lacuna-webfont.eot?iefix') format('eot'),
	     url('./fonts/lacuna-webfont.woff') format('woff'),
	     url('./fonts/lacuna-webfont.ttf') format('truetype'),
	     url('./fonts/lacuna-webfont.svg#webfont') format('svg'),
	     url('./fonts/lacuna-webfont.woff2') format('woff2');
}

body {
	font-family: 'lacuna', helvitica, sans-serif ;
	text-align: center;
}

section, nav, header, body {
	width: 100%;
}

p {
	padding-bottom: 1em;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	padding-top: .5em;
	padding-bottom: .5em;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: .5em;
}

.greyContainer {
	width: 70%;
	padding: 50px 15% 60px 15%;
	position: relative;
	background-color: rgb(220,220,220);

}

.blackContainer {
	align-items: center;
	display: inline-flex;
	background-color: black;
	color: white;
	width: 100%;
	height: 3em;
	font-size: .75em
}
 
.whiteContainer {
	width:90%;
	background-color: white;
	display: flex;
	justify-content: center;
	margin: 5% ;
}

.item {
	width: 30%;
	margin: 3%;
}

.navItem {
	margin-left: 7%;
	margin-right: 7%;
}

.navItem:hover, .paw:hover {
	cursor: pointer;
	color: #BDF7FF;
	transition: all .5s ease;
}

.paw {
	content: url(./img/baidu-paw-logo.png);
	height: 2em;
	padding-top: .5em
	padding-top: .5em;
}

.user {
	padding-bottom: 1.5em;
	content: url("./img/user.png");
	width: 40%;
}

.button {
	font-size: .85em;
	border-color: black;
	border-radius: .4em;
	border-width: .15em;
	background-color: rgb(235,235,235);
	transition: all .25s ease;
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
}
.buttonTop{
	padding: .2em 2em;
}
.button:hover {
	box-shadow: 0 .3em .5em .2em rgba(0,0,0,0.2);
	background-color: #BDF7FF;
	cursor: pointer;
	border-color: rgb(); 
	transition: all .5s ease;
}

.left, .right{
	width: 15em;
}

.left {
	display: inline-flex;
	margin-right: auto;
	margin-left: 3.5em;
}
.right{
	margin-right: 0;
	margin-left: auto;
}

.whiteText{
	color: white;
}

@media screen and (max-width: 768px) {
	html{
		font-size: 10px
	}
	.whiteContainer{
		flex-wrap: wrap;
	}
	.item{
		width:85%;
		margin: 7.5%;
	}
	.user{
		width: 20%;
	}
}









