@font-face {
	font-family: 'lacuna';
	src: url('./fonts/lacuna-webfont.eot');
	src: url('./fonts/lacuna-webfont.eot?iefix') format('eot'),
	     url('./fonts/lacuna-webfont.woff') format('woff'),
	     url('./fonts/lacuna-webfont.ttf') format('truetype'),
	     url('./fonts/lacuna-webfont.svg#webfont') format('svg');
}

body {
	font-family: 'lacuna', helvitica, sans-serif ;
	text-align: center;
	width: 100%;
}

section, nav, header, footer {
	width: 100%;
}

p {
	padding-bottom: 1em;
}

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	font-weight: normal;
	padding-top: .5em;
	padding-bottom: .5em;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: .5em;
}

footer {
	position: absolute;
	background-color: black;
	color: white;
	font-size: .5em;
	text-align: left;

}

.footText {
	margin: .33em;
}

.cyanSection {
	background: cyan;
	/*173,216,230,255;*/
}

.blueSection {
	position: relative;
	background-color: rgb(20, 20, 80);
	padding-top: 5em;
	padding-bottom: 5em;
}

.flexbox-center {
	padding-top: 2em;
	padding-bottom: 2em;
	display: inline-flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	
}


.flexbox-right {
	padding-top: .5em;
	padding-right: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left:auto;
	margin-right:0;
	width: 20%;
}

.image {
	width: 2em;
}

.element {
	float:left;
	margin-left: .25em;
	margin-right: .25em;
}

.button {
	position: absolute;
	background-color: inherit;
	border: solid;
	border-radius: .4em;
	border-width: .1em;
	color:white;
	font: 1em;
}

.button:hover{
	cursor: pointer;
	filter: brightness(80%);
}

.button:active{
	filter: brightness(30%);
}

.rainbow-gradient {
	padding-top: 3em;
	padding-bottom: 3em;
	background-image: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
	display: inline-flex;
	align-content: stretch;
	justify-content: space-around;
	flex-wrap: wrap;
}

.rainbow-child {
	width: 40%;
}














