@font-face {
	font-family: 'lacuna';
	src: url('./fonts/lacuna-webfont.eot');
	src: url('./fonts/lacuna-webfont.eot?iefix') format('eot'),
	     url('./fonts/lacuna-webfont.woff') format('woff'),
	     url('./fonts/lacuna-webfont.ttf') format('truetype'),
	     url('./fonts/lacuna-webfont.svg#webfont') format('svg'),
	     url('./fonts/lacuna-webfont.woff2') format('woff2');
}

body{
	font-family: 'lacuna', helvitica, sans-serif ;
	text-align: center;
}

section, nav, header, body {
	width: 100%;
}

p {
	margin-bottom: 1em;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	text-transform: uppercase;
	padding-bottom: .25em;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: .5em;
}

header {
	padding-top: 3em;
	padding-bottom: 1em;
	width: 100%;
	background-color: salmon;
}

section {
	padding: 4%;
	width: 92%;
	background-color: rgb(240,240,240);
	align-content: left;
}

input, textarea, select{
	background-color: pink;
	font-family: 'lacuna', helvitica, sans-serif;
	border-color: salmon;
	border-style: outset;
	border-width: 2px;
}
textarea{
	resize: none;
}
input:focus, textarea:focus, select:focus, button:focus {
	outline-color: white;
	outline-style: ridge;
}

label{
	position: relative;
	display: block;
}

.cursor:hover {
	cursor: pointer;
}

.in {
	width: 100%;
	height: 3em;
	font-size: .8em;
	text-align: left;
	margin-bottom: 1em;
}

.in * {
	width: 100%;
	margin-bottom: .4em;
}

.halfleft, .halfright {
	position: absolute;
	display: inline-block;
	width: 50%;
}

.halfleft {
	left: 4%;
}
.halfright {
	left: 51%;
}

.halfleft *, .halfright * {
	width: 90%;
}

.flexbox {
	width: 100%;
	display: inline-flex;
	height:2em;
	padding-bottom: 1em;
	justify-content: center;
}

.radbut {
	font-size: .75em;
	width: 20%;
	margin-bottom: .5em;
}
.radbut * {
	margin-bottom: .5em;
}
.item {
	width: 150px;
	margin: 0 4em;
}
.item * {
	width: 100%;
	margin-top: .5em;
	font-size: .7em
}

.button {
	background-color: salmon;
	border-color: pink;
	border-width: 1.5px;
	border-radius: 10em;
	width: 5em;
	height: 5em;
}
.extramargin{
	margin-bottom: 0em;
}

textarea::placeholder, input::placeholder {
	font-family: inherit;
	color: white;
}


@media screen and (max-width: 768px) {
	html {
		font-size: 10pt;
	}
	.extramargin{
		margin-bottom: 5em;
	}
	.flexbox{
		flex-wrap: wrap;
		height: inherit;
		position: static;
	}
	.radbut, .item{
		width: 50%;
		position: static;
	}
	.halfright, .halfleft{
		left: 0;
		position: static;
	}
}






